<html lang="zxx">

  <!-- Mirrored from templates.hibotheme.com/etar/default/shop-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 Mar 2024 22:14:29 GMT -->
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Link of CSS files -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/swiper.bundle.min.css" />
    <link rel="stylesheet" href="/css/scrollcue.min.css" />
    <link rel="stylesheet" href="/css/remixicon.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <link
      href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css"
      rel="stylesheet"
      type="text/css"
    />

    <title>ایتار-قالب رستوران و کافی شاپ</title>
    <link rel="icon" type="image/png" href="/images/favicon.webp" />
  </head>
  <body class="bg-bunk">

    <!--  Preloader Start -->
    <div class="loader-wrapper">
      <div class="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <!--  Preloader End -->

    <!-- Navbar Area Start -->
    <div
      class="navbar-area style-three position-relative top-0 start-0 w-100"
      id="navbar"
    >
      <div class="navbar-top border-0 bg-mild">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-md-3 order-xl-3 order-md-1 order-2">
              <ul class="social-profile list-unstyle left">
                <li><a href="https://www.facebook.com/" target="_blank"><i
                      class="ri-facebook-fill"
                    ></i></a></li>
                <li><a href="https://www.twitter.com/" target="_blank"><i
                      class="ri-twitter-x-line"
                    ></i></a></li>
                <li><a href="https://www.linkedin.com/" target="_blank"><i
                      class="ri-linkedin-fill"
                    ></i></a></li>
                <li><a href="https://web.whatsapp.com/" target="_blank"><i
                      class="ri-whatsapp-line"
                    ></i></a></li>
              </ul>
            </div>
            <div
              class="col-xl-8 col-md-9 order-xl-2 order-md-2 order-1 text-md-end ps-md-0"
            >
              <p
                class="fw-bold mb-0 text-md-end text-center text-white right"
              >به رستوران Etar خوش آمدید. ما همه روزه در ساعت 9:00 صبح باز و در
                12:00 شب بسته می شویم.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-bunk">
        <div class="container">
          <nav
            class="navbar navbar-expand-lg d-flex justify-content-between align-items-center"
          >
            <a class="navbar-brand" href="index.html">
              <img src="/images/logo-white.webp" alt="logo" />
            </a>
            <div class="d-flex align-items-center d-lg-none">
              <div class="others-option d-flex flex-wrap align-items-center">
                <button
                  type="button"
                  class="search-btn d-flex flex-column align-items-center justify-content-center bg-transparent rounded-circle"
                  data-bs-toggle="modal"
                  data-bs-target="#searchModal"
                >
                  <img src="/images/icons/search.svg" alt="Image" />
                </button>
                <a
                  href="my-account.html"
                  class="user-link d-flex flex-column align-items-center justify-content-center rounded-circle"
                ><img src="/images/icons/user.svg" alt="Image" /></a>
                <a
                  href="cart.html"
                  class="shopcart d-flex flex-column align-items-center justify-content-center position-relative rounded-circle"
                ><img src="/images/icons/cart.svg" alt="Image" /><span
                    class="d-inline-block text-center rounded-circle text-white position-absolute"
                  >۰۲</span></a>
              </div>
              <a
                class="navbar-toggler d-lg-none"
                data-bs-toggle="offcanvas"
                href="#navbarOffcanvas"
                role="button"
                aria-controls="navbarOffcanvas"
              >
                <span class="burger-menu">
                  <span class="top-bar"></span>
                  <span class="middle-bar"></span>
                  <span class="bottom-bar"></span>
                </span>
              </a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                  <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                    صفحه اصلی
                  </a>
                  <ul class="dropdown-menu list-unstyle">
                    <li class="nav-item">
                      <a href="index.html" class="nav-link">صفحه اول</a>
                    </li>
                    <li class="nav-item">
                      <a href="index-2.html" class="nav-link">صفحه دوم</a>
                    </li>
                    <li class="nav-item">
                      <a href="index-3.html" class="nav-link">صفحه سوم</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="about.html" class="nav-link">
                    درباره
                  </a>
                </li>
                <li class="nav-item">
                  <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                    منو
                  </a>
                  <ul class="dropdown-menu list-unstyle">
                    <li class="nav-item">
                      <a href="restaurant-menu.html" class="nav-link">
                        منو رستوران
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="cafe-menu.html" class="nav-link">
                        منو قهوه
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                    صفحه
                  </a>
                  <ul class="dropdown-menu list-unstyle">
                    <li class="nav-item">
                      <a
                        href="javascript:void(0)"
                        class="dropdown-toggle nav-link"
                      >
                        خدمات
                      </a>
                      <ul class="dropdown-menu list-unstyle">
                        <li class="nav-item">
                          <a href="services.html" class="nav-link">
                            همه خدمات
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="service-details.html" class="nav-link">
                            جزئیات خدمات
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a
                        href="javascript:void(0)"
                        class="dropdown-toggle nav-link"
                      >
                        نمونه کار ها
                      </a>
                      <ul class="dropdown-menu list-unstyle">
                        <li class="nav-item">
                          <a href="portfolio.html" class="nav-link">
                            نمونه کار ها
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="portfolio-details.html" class="nav-link">
                            جزئیات نمونه کار ها
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a href="book-a-table.html" class="nav-link">
                        میز رزرو کنید
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="our-chef.html" class="nav-link">
                        آشپز های ما
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="testimonials.html" class="nav-link">
                        گواهینامه ها
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="our-history.html" class="nav-link">
                        تاریخچه ما
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="pricing-plan.html" class="nav-link">
                        طرح قیمت گذاری
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="gallery.html" class="nav-link">
                        گالری
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="faq.html" class="nav-link">
                        سؤالات متداول
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="terms-conditions.html" class="nav-link">
                        شرایط و ضوابط
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="privacy-policy.html" class="nav-link">
                        سیاست حفظ حریم خصوصی
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="error-404.html" class="nav-link">
                        ارور 404
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a
                    href="javascript:void(0)"
                    class="dropdown-toggle nav-link active"
                  >
                    فروشگاه
                  </a>
                  <ul class="dropdown-menu list-unstyle">
                    <li class="nav-item">
                      <a href="shop-left-sidebar.html" class="nav-link">
                        نوار سمت راست
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="shop-right-sidebar.html" class="nav-link">
                        نوار سمت چپ
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="shop-grid.html" class="nav-link">
                        شبکه فروشگاه
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="shop-details.html" class="nav-link active">
                        جزئیات فروشگاه
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="cart.html" class="nav-link">
                        سبد خرید
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="wishlist.html" class="nav-link">
                        لیست علاقه مندی ها
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="checkout.html" class="nav-link">
                        پرداخت پول
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="my-account.html" class="nav-link">
                        حساب من
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                    <span>وبلاگ</span>
                  </a>
                  <ul class="dropdown-menu list-unstyle">
                    <li class="nav-item">
                      <a
                        href="javascript:void(0)"
                        class="dropdown-toggle nav-link"
                      >
                        طرح بندی وبلاگ
                      </a>
                      <ul class="dropdown-menu">
                        <li class="nav-item">
                          <a href="blog-left-sidebar.html" class="nav-link">
                            نوار سمت راست
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="blog-right-sidebar.html" class="nav-link">
                            نوار سمت چپ
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="blog-grid.html" class="nav-link">
                            شبکه وبلاگ
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a
                        href="javascript:void(0)"
                        class="dropdown-toggle nav-link"
                      >
                        طرح بندی جزئیات وبلاگ
                      </a>
                      <ul class="dropdown-menu list-unstyle">
                        <li class="nav-item">
                          <a
                            href="blog-details-left-sidebar.html"
                            class="nav-link"
                          >
                            نوار سمت راست
                          </a>
                        </li>
                        <li class="nav-item">
                          <a
                            href="blog-details-right-sidebar.html"
                            class="nav-link"
                          >
                            نوار سمت چپ
                          </a>
                        </li>
                        <li class="nav-item">
                          <a
                            href="blog-details-no-sidebar.html"
                            class="nav-link"
                          >
                            جزئیات وبلاگ بدون وار
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="contact-us.html" class="nav-link">
                    ارتباط
                  </a>
                </li>
              </ul>
              <div
                class="others-option d-flex align-items-center justify-content-end"
              >
                <button
                  type="button"
                  class="search-btn d-flex flex-column align-items-center justify-content-center bg-transparent rounded-circle"
                  data-bs-toggle="modal"
                  data-bs-target="#searchModal"
                >
                  <img src="/images/icons/search.svg" alt="Image" />
                </button>
                <a
                  href="my-account.html"
                  class="user-link d-flex flex-column align-items-center justify-content-center rounded-circle"
                ><img src="/images/icons/user.svg" alt="Image" /></a>
                <a
                  href="cart.html"
                  class="shopcart d-flex flex-column align-items-center justify-content-center position-relative rounded-circle"
                ><img src="/images/icons/cart.svg" alt="Image" /><span
                    class="d-inline-block text-center rounded-circle text-white position-absolute"
                  >۰۲</span></a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>

    <!-- Start Responsive Navbar Area -->
    <div
      class="responsive-navbar offcanvas offcanvas-end border-0"
      data-bs-backdrop="static"
      tabindex="-1"
      id="navbarOffcanvas"
    >
      <div class="offcanvas-header">
        <a href="index.html" class="logo d-inline-block">
          <img src="/images/logo-white.webp" alt="Image" />
        </a>
        <button
          type="button"
          class="close-btn bg-transparent position-relative lh-1 p-0 border-0"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        >
          <i class="ri-close-line"></i>
        </button>
      </div>
      <div class="offcanvas-body">
        <ul class="responsive-menu">
          <li class="responsive-menu-list"><a href="javascript:void(0);">صفحه
              اصلی</a>
            <ul class="responsive-menu-items">
              <li><a href="index.html">صفحه اول</a></li>
              <li><a href="index-2.html">صفحه دوم</a></li>
              <li><a href="index-3.html">صفحه سوم</a></li>
            </ul>
          </li>
          <li><a href="about.html">درباره</a></li>
          <li class="responsive-menu-list"><a href="javascript:void(0);">منو</a>
            <ul class="responsive-menu-items">
              <li><a href="restaurant-menu.html">منو رستوران</a></li>
              <li><a href="cafe-menu.html">منو قهوه</a></li>
            </ul>
          </li>
          <li class="responsive-menu-list"><a
              href="javascript:void(0);"
            >صفحه</a>
            <ul class="responsive-menu-items">
              <li class="responsive-menu-list"><a
                  href="javascript:void(0);"
                >خدمات</a>
                <ul class="responsive-menu-items">
                  <li><a href="services.html">همه خدمات</a></li>
                  <li><a href="service-details.html">جزئیات خدمات</a></li>
                </ul>
              </li>
              <li class="responsive-menu-list"><a
                  href="javascript:void(0);"
                >نمونه کار ها</a>
                <ul class="responsive-menu-items">
                  <li><a href="portfolio.html">همه نمونه کار ها</a></li>
                  <li><a href="portfolio-details.html">جزئیات نمونه کار ها</a></li>
                </ul>
              </li>
              <li><a href="book-a-table.html">میز رزرو کنید</a></li>
              <li><a href="our-chef.html">آشپز های ما</a></li>
              <li><a href="testimonials.html">گواهینامه ها</a></li>
              <li><a href="our-history.html">تاریخچه ما</a></li>
              <li><a href="pricing-plan.html">طرح قیمت گذاری</a></li>
              <li><a href="gallery.html">گالری</a></li>
              <li><a href="faq.html">سؤالات متداول</a></li>
              <li><a href="terms-conditions.html">شرایط و ضوابط</a></li>
              <li><a href="privacy-policy.html">سیاست حفظ حریم خصوصی</a></li>
              <li><a href="error-404.html">ارور ۴۰۴</a></li>
            </ul>
          </li>
          <li class="responsive-menu-list"><a
              href="javascript:void(0);"
              class="active"
            >فروشگاه</a>
            <ul class="responsive-menu-items">
              <li><a href="shop-left-sidebar.html">نوار سمت راست</a></li>
              <li><a href="shop-right-sidebar.html">نوار سمت چپ </a></li>
              <li><a href="shop-grid.html">شبکه فروشگاه</a></li>
              <li><a href="shop-details.html" class="active">جزئیات فروشگاه</a></li>
              <li><a href="cart.html">سبد خرید</a></li>
              <li><a href="wishlist.html">لیست علاقه مندی ها</a></li>
              <li><a href="checkout.html">پرداخت پول</a></li>
              <li><a href="my-account.html">حساب من</a></li>
            </ul>
          </li>
          <li class="responsive-menu-list"><a
              href="javascript:void(0);"
            >وبلاگ</a>
            <ul class="responsive-menu-items">
              <li class="responsive-menu-list">
                <a href="javascript:void(0);">طرح بندی وبلاگ</a>
                <ul class="responsive-menu-items">
                  <li><a href="blog-left-sidebar.html">نوار سمت راست</a></li>
                  <li><a href="blog-right-sidebar.html">نوار سمت چپ</a></li>
                  <li><a href="blog-grid.html">شبکه وبلاگ</a></li>
                </ul>
              </li>
              <li class="responsive-menu-list"><a href="javascript:void(0);">طرح
                  بندی جزئیات وبلاگ</a>
                <ul class="responsive-menu-items">
                  <li><a href="blog-details-left-sidebar.html">نوار سمت راست</a></li>
                  <li><a href="blog-details-right-sidebar.html">نوار سمت چپ</a></li>
                  <li><a href="blog-details-no-sidebar.html">
                      جزئیات وبلاگ بدون وار</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="contact-us.html">ارتباط</a></li>
        </ul>
        <div class="option-item">
          <ul class="social-profile style-one list-unstyle">
            <li><a
                href="https://www.facebook.com/"
                target="_blank"
                class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative overflow-hidden"
              ><i class="ri-facebook-fill"></i></a></li>
            <li><a
                href="https://www.twitter.com/"
                target="_blank"
                class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative overflow-hidden"
              ><i class="ri-twitter-x-line"></i></a></li>
            <li><a
                href="https://www.linkedin.com/"
                target="_blank"
                class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative overflow-hidden"
              ><i class="ri-linkedin-fill"></i></a></li>
            <li><a
                href="https://www.instagram.com/"
                target="_blank"
                class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative overflow-hidden"
              ><i class="ri-instagram-line"></i></a></li>
            <li><a
                href="https://web.whatsapp.com/"
                target="_blank"
                class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative overflow-hidden"
              ><i class="ri-whatsapp-line"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Start Search Modal -->
    <div
      class="modal fade searchModal"
      id="searchModal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <form>
            <input
              type="text"
              class="form-control"
              placeholder="جست و جو...."
            />
            <button type="submit"><i class="ri-search-line"></i></button>
          </form>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ><i class="ri-close-fill"></i></button>
        </div>
      </div>
    </div>
    <!-- End Search Modal -->

    <!-- Breadcrumb Section Start -->
    <div class="breadcrumb-wrap bg-mild position-relative">
      <img
        src="/images/breadcrumb/br-shape-1.webp"
        alt="Image"
        class="br-shape-one position-absolute sm-none bounce"
      />
      <img
        src="/images/breadcrumb/br-shape-2.webp"
        alt="Image"
        class="br-shape-two position-absolute sm-none moveHorizontal"
      />
      <img
        src="/images/breadcrumb/br-shape-3.webp"
        alt="Image"
        class="br-shape-three position-absolute top-0 end-0 h-100"
      />
      <div class="container text-center ps-xxl-4">
        <h2 class="br-title text-white">{{food.name}}</h2>
        <ul class="br-menu list-unstyle">
          <li class="fs-xxl-20"><a href="index.html">صفحه اصلی</a></li>
          <li class="fs-xxl-20"><a
              href="shop-left-sidebar.html"
            >فروشگاه</a></li>
          <li class="fs-xxl-20">{{food.name}}</li>
        </ul>
      </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- جزئیات فروشگاه section Start -->
    <div class="shop-wrap position-relative index-1">
      <img
        src="/images/shape-17.webp"
        alt="Image"
        class="shop-section-shape position-absolute end-0 sm-none bounce"
      />
      <div class="container ptb-130">
        <div class="row align-items-center pb-100">
          <div class="col-lg-6">
            <div class="single-shop-img round-10">
              <img
                src="/images/covers/items/{{food.cover}}"
                alt="Image"
                class="round-10"
              />
            </div>
          </div>
          <div class="col-xxl-5 col-lg-6 pe-xxl-5">
            <div class="shop-details-wrap">
              <h2 class="fs-32 text-optional">{{food.name}}</h2>
              <div class="ratings d-flex align-items-center">
                <ul class="rating list-unstyle">
                  <li><i class="ri-star-fill"></i></li>
                  <li><i class="ri-star-fill"></i></li>
                  <li><i class="ri-star-fill"></i></li>
                  <li><i class="ri-star-fill"></i></li>
                  <li><i class="ri-star-fill"></i></li>
                </ul>
                <span class="ms-2 lh-1">(65 بررسی)</span>
              </div>
              <h4 class="price-tag fs-24 f-primary">{{food.price}}
                تومان
                <span class="text-offwhite fs-18 text-decoration-line-through">-
                  ۱۹۰۰۰۰ تومان</span></h4>
              <p class="fw-bold">حقیقت، استاد ساز سعادت بشر. هیچ کس خود لذت را
                رد نمی کند، دوست ندارد یا از آن اجتناب نمی کند، زیرا لذت است،
                بلکه به این دلیل است</p>
              {{#if messages.success}}
                <h4 style="color: red;">{{messages.success}}</h4>
              {{else}}
                <h4 style="color: green;">{{messages.whishError}}</h4>
              {{/if}}
              <div class="product-counter d-flex align-items-center mb-25">
                <div class="v-counter">
                  <button class="minusBtn">
                  </button>
                  <input type="text" size="25" value="1" class="count" />
                  <button class="plusBtn">
                  </button>
                </div>
                <a href="cart.html" class="btn style-one round-5">افزودن به سبد
                  خرید</a>
                <form
                  action="/whishlist/"
                  style="margin-top: 15.5px;"
                  method="post"
                >
                  <input
                    name="item"
                    type="text"
                    style="display: none;"
                    value="{{food._id}}"
                  />
                  <button class="btn style-one round-5" type="submit">افزودن به
                    علاقه مندی</button>
                </form>
              </div>
              <ul class="product-brief list-unstyle mb-30">
                <li class="fw-bold"><span class="text-white fw-bold me-1">دسته
                    بندی:</span>{{category.title}}</li>
                <li class="fw-bold"><span
                    class="text-optional fw-bold me-1"
                  >شناسه محصول:</span>
                  {{food._id}}</li>
              </ul>
              <div class="post-share style-two d-flex align-items-center">
                <span>اشتراک : </span>
                <ul class="social-profile style-one list-unstyle ms-md-3">
                  <li><a
                      href="https://www.facebook.com/"
                      target="_blank"
                      class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative overflow-hidden"
                    ><i class="ri-facebook-fill"></i></a></li>
                  <li><a
                      href="https://www.twitter.com/"
                      target="_blank"
                      class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative overflow-hidden"
                    ><i class="ri-twitter-x-line"></i></a></li>
                  <li><a
                      href="https://www.linkedin.com/"
                      target="_blank"
                      class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative overflow-hidden"
                    ><i class="ri-linkedin-fill"></i></a></li>
                  <li><a
                      href="https://web.whatsapp.com/"
                      target="_blank"
                      class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative overflow-hidden"
                    ><i class="ri-whatsapp-line"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        {{#if messages.success}}
          <h2
            style="color: rgb(7, 156, 7); text-align: center;"
            class="sucess"
          >{{messages.success}}</h2>
        {{/if}}
        <ul
          class="nav nav-tabs single-shop-tablist list-unstyle border-0 mb-30"
          role="tablist"
        >
          <li class="nav-item">
            <button
              class="nav-link active"
              data-bs-toggle="tab"
              data-bs-target="#tab_1"
              type="button"
              role="tab"
            >شرح</button>
          </li>
          <li class="nav-item">
            <button
              class="nav-link"
              data-bs-toggle="tab"
              data-bs-target="#tab_2"
              type="button"
              role="tab"
            >اطلاعات تکمیلی</button>
          </li>
          <li class="nav-item">
            <button
              class="nav-link"
              data-bs-toggle="tab"
              data-bs-target="#tab_3"
              type="button"
              role="tab"
            >نظرات (۲)</button>
          </li>
        </ul>
        <div class="tab-content shop-tab-content">
          <div class="tab-pane fade show active" id="tab_1" role="tabpanel">
            <div class="product_desc">
              <p class="">{{food.desc}}</p>
            </div>
          </div>
          <div class="tab-pane fade" id="tab_2" role="tabpanel">
            <div class="row">
              <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="checkout-details round-10">
                  <div class="bill-details">
                    <div class="bill-item-wrap">
                      {{#each food.infos}}
                        <div
                          class="bill-item d-flex flex-wrap justify-content-between align-items-center"
                        >
                          <p
                            class="bill-item-name text-white fs-18 fw-bold"
                          >{{this.title}}</p>
                          <span
                            class="bill-item-price fw-bold"
                          >{{this.info}}</span>
                        </div>
                      {{/each}}
                      {{! <div
                        class="bill-item d-flex flex-wrap justify-content-between align-items-center"
                      >
                        <p
                          class="bill-item-name text-white fs-18 fw-bold"
                        >برنج</p>
                        <span class="bill-item-price fw-bold">باسموتی</span>
                      </div>
                      <div
                        class="bill-item d-flex flex-wrap align-items-center justify-content-between"
                      >
                        <p
                          class="bill-item-name text-white fs-18 fw-bold"
                        >گوشت</p>
                        <span class="bill-item-price fw-bold">گوشت گاو</span>
                      </div>
                      <div
                        class="bill-item d-flex flex-wrap align-items-center justify-content-between"
                      >
                        <p
                          class="bill-item-name text-white fs-18 fw-bold"
                        >وزن</p>
                        <span class="bill-item-price fw-bold">1 کیلوگرم</span>
                      </div>
                      <div
                        class="bill-item d-flex flex-wrap align-items-center justify-content-between"
                      >
                        <p
                          class="bill-item-name text-white fs-18 fw-bold"
                        >ادویه</p>
                        <span class="bill-item-price fw-bold">بله</span>
                      </div> }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tab_3" role="tabpanel">
            <div class="row">
              <div class="col-lg-6">
                <div class="comment-item-wrap round-10 mb-45">
                  <h5 class="fs-26 mb-25">۰۲ نظر</h5>
                  <div class="comment-item d-flex flex-wrap">
                    <div class="comment-author-img">
                      <img src="/images/blog/author-1.webp" alt="Image" />
                    </div>
                    <div class="comment-author-info">
                      <div class="row align-items-start">
                        <div
                          class="col-md-9 col-sm-12 col-12 order-md-1 order-sm-1 order-1"
                        >
                          <div class="comment-author-name">
                            <h5>علی کاشانی</h5>
                            <span class="comment-date">۲۶ فروردین ۱۴۰۳</span>
                          </div>
                        </div>
                        <div
                          class="col-md-3 col-sm-12 col-12 text-md-end order-md-2 order-sm-3 order-3"
                        >
                          <ul
                            class="rating list-unstyle d-flex align-items-center"
                          >
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                          </ul>
                        </div>
                        <div
                          class="col-md-12 col-sm-12 col-12 order-md-3 order-sm-2 order-2"
                        >
                          <p class="comment-text fw-bold">“لورم ایپسوم متن
                            ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                            استفاده از طراحان گرافیک است چاپگرها و متون بلکه
                            روزنامه و مجله در ستون و سطرآنچنان که لازم است”</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="comment-item d-flex flex-wrap">
                    <div class="comment-author-img">
                      <img src="/images/blog/author-3.webp" alt="Image" />
                    </div>
                    <div class="comment-author-info">
                      <div class="row align-items-start">
                        <div
                          class="col-md-9 col-sm-12 col-12 order-md-1 order-sm-1 order-1"
                        >
                          <div class="comment-author-name">
                            <h5>فاطمه سالاری</h5>
                            <span class="comment-date">۱۰ فروردین ۱۴۰۳</span>
                          </div>
                        </div>
                        <div
                          class="col-md-3 col-sm-12 col-12 text-md-end order-md-2 order-sm-3 order-3"
                        >
                          <ul
                            class="rating list-unstyle d-flex align-items-center"
                          >
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                          </ul>
                        </div>
                        <div
                          class="col-md-12 col-sm-12 col-12 order-md-3 order-sm-2 order-2"
                        >
                          <p class="comment-text fw-bold">“لورم ایپسوم متن
                            ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                            استفاده از طراحان گرافیک است چاپگرها و متون بلکه
                            روزنامه و مجله در ستون و سطرآنچنان که لازم است.”</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="client-review-form">
                  <div class="comment-form-title">
                    <h4 class="fs-20">یک بررسی اضافه کنید</h4>
                    <p>آدرس ایمیل شما منتشر نخواهد شد. فیلدهای الزامی مشخص شده
                      اند *</p>
                  </div>
                  <div class="comment-form-title">
                    <h4 class="fs-20">رتبه های شما</h4>
                    <ul class="rating list-unstyle d-flex align-items-center">
                      <li><i class="ri-star-fill"></i></li>
                      <li><i class="ri-star-fill"></i></li>
                      <li><i class="ri-star-fill"></i></li>
                      <li><i class="ri-star-fill"></i></li>
                      <li><i class="ri-star-fill"></i></li>
                    </ul>
                  </div>
                  <form
                    action="/comment/?category=food&item={{food._id}}"
                    method="post"
                    class="comment-form mt-4"
                  >
                    <div class="row">
                      {{! <div class="col-md-6">
                        <div class="form-group mb-15">
                          <label
                            for="name"
                            class="fs-16 fw-bold text-white d-block mb-10"
                          >نام*</label>
                          <input
                            type="text"
                            id="name"
                            class="bg-mild text-white h-52 w-100 border-0 round-5"
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group mb-15">
                          <label
                            for="email"
                            class="fs-16 fw-bold text-white d-block mb-10"
                          >ایمیل*</label>
                          <input
                            type="email"
                            id="email"
                            class="bg-mild text-white h-52 w-100 border-0 round-5"
                          />
                        </div>
                      </div> }}
                      <div class="col-12">
                        <div class="form-group mb-15">
                          <label
                            for="review-msg"
                            class="fs-16 fw-bold text-white d-block mb-10"
                          >نقد شما</label>
                          <textarea
                            name="text"
                            id="review-msg"
                            cols="30"
                            rows="10"
                            class="bg-mild text-white w-100 border-0 round-5 resize-0 h-110"
                          ></textarea>
                        </div>
                      </div>
                      <div class="col-12">
                        <button class="btn style-one mt-10">تأیید</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- جزئیات فروشگاه section End -->

    <!-- Shop section start -->
    <div class="container pb-100">
      <h2 class="fs-36 mb-30">محصولات مرتبط</h2>
      <div class="row justify-content-center">
        <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
          <div class="shop-card mb-45">
            <div
              class="shop-img position-relative overflow-hidden round-10 mb-25"
            >
              <img
                src="/images/shop/shop-9.webp"
                alt="Image"
                class="round-10"
              />
              <a class="btn style-one position-absolute" href="cart.html">افزودن
                به سبد خرید</a>
            </div>
            <div
              class="shop-info d-flex align-items-start justify-content-between"
            >
              <div>
                <h3 class="fs-22 f-primary text-white mb-6"><a
                    href="shop-details.html"
                  >سوپ</a></h3>
                <ul class="rating list-unstyle">
                  <li><img src="/images/icons/star.svg" alt="Image" /></li>
                  <li><img src="/images/icons/star.svg" alt="Image" /></li>
                  <li><img src="/images/icons/star.svg" alt="Image" /></li>
                  <li><img src="/images/icons/star.svg" alt="Image" /></li>
                  <li><img src="/images/icons/star.svg" alt="Image" /></li>
                </ul>
              </div>
              <span class="fs-20 text_primary fw-bold">۴۲۰۰۰تومان</span>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
          <div class="shop-card mb-45">
            <div
              class="shop-img position-relative overflow-hidden round-10 mb-25"
            >
              <img
                src="/images/shop/shop-10.webp"
                alt="Image"
                class="round-10"
              />
              <a class="btn style-one position-absolute" href="cart.html">افزودن
                به سبد خرید</a>
            </div>
            <div
              class="shop-info d-flex align-items-start justify-content-between"
            >
              <div>
                <h3 class="fs-22 f-primary text-white mb-6"><a
                    href="shop-details.html"
                  >پیراشکی</a></h3>
                <ul class="rating list-unstyle">
                  <li><img src="/images/icons/star.svg" alt="Image" /></li>
                  <li><img src="/images/icons/star.svg" alt="Image" /></li>
                  <li><img src="/images/icons/star.svg" alt="Image" /></li>
                  <li><img src="/images/icons/star.svg" alt="Image" /></li>
                  <li><img src="/images/icons/star.svg" alt="Image" /></li>
                </ul>
              </div>
              <span class="fs-20 text_primary fw-bold">۳۸۰۰۰ تومان</span>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
          <div class="shop-card mb-45">
            <div
              class="shop-img position-relative overflow-hidden round-10 mb-25"
            >
              <img
                src="/images/shop/shop-11.webp"
                alt="Image"
                class="round-10"
              />
              <a class="btn style-one position-absolute" href="cart.html">افزودن
                به سبد خرید</a>
            </div>
            <div
              class="shop-info d-flex align-items-start justify-content-between"
            >
              <div>
                <h3 class="fs-22 f-primary text-white mb-6"><a
                    href="shop-details.html"
                  >ماکارونی</a></h3>
                <ul class="rating list-unstyle">
                  <li><img src="/images/icons/star.svg" alt="Image" /></li>
                  <li><img src="/images/icons/star.svg" alt="Image" /></li>
                  <li><img src="/images/icons/star.svg" alt="Image" /></li>
                  <li><img src="/images/icons/star.svg" alt="Image" /></li>
                  <li><img src="/images/icons/star.svg" alt="Image" /></li>
                </ul>
              </div>
              <span class="fs-20 text_primary fw-bold">۲۲۰۰۰ تومان</span>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
          <div class="shop-card mb-45">
            <div
              class="shop-img position-relative overflow-hidden round-10 mb-25"
            >
              <img
                src="/images/shop/shop-12.webp"
                alt="Image"
                class="round-10"
              />
              <a class="btn style-one position-absolute" href="cart.html">افزودن
                به سبد خرید</a>
            </div>
            <div
              class="shop-info d-flex align-items-start justify-content-between"
            >
              <div>
                <h3 class="fs-22 f-primary text-white mb-6"><a
                    href="shop-details.html"
                  >مرغ</a></h3>
                <ul class="rating list-unstyle">
                  <li><img src="/images/icons/star.svg" alt="Image" /></li>
                  <li><img src="/images/icons/star.svg" alt="Image" /></li>
                  <li><img src="/images/icons/star.svg" alt="Image" /></li>
                  <li><img src="/images/icons/star.svg" alt="Image" /></li>
                  <li><img src="/images/icons/star.svg" alt="Image" /></li>
                </ul>
              </div>
              <span class="fs-20 text_primary fw-bold">۵۵۰۰۰ تومان</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Shop section end -->

    <!-- Footer Start -->
    <footer class="footer-wrap style-four position-relative index-1 pt-130">
      <img
        src="/images/shape-8.webp"
        alt="Image"
        class="footer-shape position-absolute top-0 moveHorizontal"
      />
      <div class="footer-top">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-5 col-md-4">
              <a href="index.html" class="logo">
                <img src="/images/logo-white.webp" alt="Logo" />
              </a>
            </div>
            <div
              class="col-xxl-5 offset-xxl-1 col-xl-6 col-lg-7 col-md-8 ps-xxl-4"
            >
              <div class="footer-widget">
                <h2 class="text-white mb-20">اطلاع رسانی ما</h2>
                <form action="#" class="subscribe-form position-relative">
                  <input
                    type="email"
                    placeholder="ایمیل"
                    class="w-100 h-60 text-white border-0"
                  />
                  <button
                    type="submit"
                    class="border-0 text-white fw-bold position-absolute transition"
                  >دنبال کردن</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="footer-widget-wrapper d-flex flex-wrap pb-30">
          <div class="footer-widget position-relative mb-30">
            <h3 class="footer-widget-title fw-semibold text-white">اتصال سریع</h3>
            <ul class="footer-menu list-unstyle">
              <li>
                <a href="my-account.html">مشاهده اکانت</a>
              </li>
              <li>
                <a href="track-order.html">پیگیری سفارش</a>
              </li>
              <li>
                <a href="shop-left-sidebar.html">پیشنهاد</a>
              </li>
              <li>
                <a href="shop-left-sidebar.html">تبلیغات</a>
              </li>
              <li>
                <a href="testimonials.html">نظرات مشتریان</a>
              </li>
            </ul>
          </div>
          <div class="footer-widget position-relative mb-30">
            <h3 class="footer-widget-title fw-semibold text-white">لینک شرکت</h3>
            <ul class="footer-menu list-unstyle">
              <li>
                <a href="about.html">درباره ما</a>
              </li>
              <li>
                <a href="shop-left-sidebar.html">فروشگاه</a>
              </li>
              <li>
                <a href="contact-us.html">مرکز کمک</a>
              </li>
              <li>
                <a href="privacy-policy.html">سیاست حفظ حریم خصوصی</a>
              </li>
              <li>
                <a href="terms-conditions.html">شرایط و ضوابط</a>
              </li>
            </ul>
          </div>
          <div class="footer-widget position-relative mb-30">
            <h3 class="footer-widget-title fw-semibold text-white">ساعت کاری</h3>
            <ul class="working-hours list-unstyle">
              <li class="position-relative fs-xxl-18">
                <span class="d-block text_primary">شنبه تا چهارشنبه</span>
                <span class="d-block">از ۹ تا ۲۰</span>
              </li>
              <li class="position-relative fs-xxl-18">
                <span class="d-block text_primary">پنجشنبه</span>
                <span class="d-block">از ۹ تا ۱۸</span>
              </li>
              <li class="position-relative fs-xxl-18">
                <span class="d-block text_primary">جمعه</span>
                <span class="d-block">بسته</span>
              </li>
            </ul>
          </div>
          <div class="footer-widget position-relative mb-30">
            <h3 class="footer-widget-title fw-semibold text-white">راه های
              ارتباطی</h3>
            <ul class="contact-info list-unstyle">
              <li class="position-relative fs-xxl-18"><span
                  class="position-absolute start-0"
                ><img src="/images/icons/phone.svg" alt="Image" /></span><a
                  href="tel:8002162020"
                >۰۲۱۴۴۷۱۰۷۵۰</a></li>
              <li class="position-relative fs-xxl-18"><span
                  class="position-absolute start-0"
                ><img src="/images/icons/mail.svg" alt="Image" /></span><a
                  href="https://templates.hibotheme.com/cdn-cgi/l/email-protection#31585f575e71544550431f525e5c"
                ><span
                    class="__cf_email__"
                    data-cfemail="88e1e6eee7c8edfce9faa6ebe7e5"
                  >[rtl@gmail.com]</span></a></li>
              <li class="position-relative fs-xxl-18"><span
                  class="position-absolute start-0"
                ><img src="/images/icons/globe.svg" alt="Image" /></span><a
                  href="https://www.rtl-theme.com/"
                  target="_blank"
                >www.rtl-theme.com</a></li>
              <li class="position-relative fs-xxl-18"><span
                  class="position-absolute start-0"
                ><img
                    src="/images/icons/map.svg"
                    alt="Image"
                  /></span>تهران،منطقه 22،شهرک گلستان</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6">
              <p class="copyright-text mb-0"><i
                  class="ri-copyright-line"
                ></i><span class="text_primary fw-semibold">Etar</span>
                ساخته شده توسط
                <a href="https://www.rtl-theme.com/" class="link style-two">راست
                  چین</a></p>
            </div>
            <div class="col-md-6 text-md-end">
              <ul class="social-profile style-one list-unstyle">
                <li><a
                    href="https://www.facebook.com/"
                    target="_blank"
                    class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative overflow-hidden"
                  ><i class="ri-facebook-fill"></i></a></li>
                <li><a
                    href="https://www.twitter.com/"
                    target="_blank"
                    class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative overflow-hidden"
                  ><i class="ri-twitter-x-line"></i></a></li>
                <li><a
                    href="https://www.linkedin.com/"
                    target="_blank"
                    class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative overflow-hidden"
                  ><i class="ri-linkedin-fill"></i></a></li>
                <li><a
                    href="https://www.instagram.com/"
                    target="_blank"
                    class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative overflow-hidden"
                  ><i class="ri-instagram-line"></i></a></li>
                <li><a
                    href="https://web.whatsapp.com/"
                    target="_blank"
                    class="d-flex flex-column align-items-center justify-content-center rounded-circle position-relative overflow-hidden"
                  ><i class="ri-whatsapp-line"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer End -->

    <!-- Back to Top -->
    <button
      type="button"
      id="backtotop"
      class="position-fixed text-center border-0 p-0"
    >
      <i class="ri-arrow-up-line"></i>
    </button>

    <!-- Link of JS files -->
    <script data-cfasync="false" src="/js/email-decode.min.js"></script><script
      src="/js/bootstrap.bundle.min.js"
    ></script>
    <script src="/js/swiper.bundle.min.js"></script>
    <script src="/js/fslightbox.js"></script>
    <script src="/js/scrollcue.min.js"></script>
    <script src="/js/main.js"></script>
  </body>

  <!-- Mirrored from templates.hibotheme.com/etar/default/shop-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 Mar 2024 22:14:29 GMT -->
</html>